*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
/* Mastering units in css 
 px % vw vh em rem*/
/* -> px */
#box{
width: 300px;
height: 200px;
background-color: red;
}
/* we dont use px because it will hide its content if we have smaller screen,hence we use it but less  */

/* -> %
if i say 50% width its will user 50percent of that screen and it will change based on screen size unlike px*/

#box2{
    width: 50%;
    height: 30%;
    background-color: brown;
}

/* vw: it will seem that vw and vh are same as % but the percent will take value from parent 
and vw and vh will take value from screen
 */

#box3{
    width: 10vw;
    height: 10vh;
    background-color: blue;
}

/* comparing % with vh and vw */

#box4{
    width: 400px;
    height: 400px;
    background-color: yellowgreen;
}
#child1{
    width: 50%;
    height: 50%;
    background-color: green;
}

#box5{
    width: 400px;
    height: 400px;
    background-color: brown;
}
#child2{
    width: 100vw;
    height: 100vh;
    color: red;
}

/* em and rem  */
/* so em depends on font size here 1 em = 15px and width and height will be 15*2 =30px and it will work as px */
#demo{
    font-size: 15px;
    width: 2em;
    height: 2em;
    background-color: red;
}
/* em will target current element and rem will target root element  */

html{
    font-size: 12px;
}

.rem{
    width: 4rem;
    height: 4rem;
    background-color: black;
}




/* styling for max and min */

#test{
    min-width: 200px;
    width: 600px;
   max-width: 500px ;
    height: 200px;
background-color: red;
}

/* max width will basically add a hook so that if you change value of width to 1000px it
wont go beyond 500 */




